name: cached_firestorage_demo
description: The DEMO for the CachedFirestorage package

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=2.16.2 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  cached_firestorage:
    path: ../
  cupertino_icons: ^1.0.8
  firebase_core: ^3.4.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
